<style>
        h2 {
            font-size: 65px;
            color: orange
        }


        body {

            background-color: rgb(255, 400, 190)
        }

        ul {
            background-color: blue;
        }

        h2 {
            background-color: blue;
        }

        h1 {
            font-size: 80px;
        }
        
        h1 {
            font-family: sans-serif;
        }

        p {
            text-decoration: underline;
            text-align: center;
            line-height: 60px;
            font-size: 16px;
            font-weight: 600;
            font-size: 3em;
            font-style: italic
        }

        #maca {
            background-color: rgb(255, 0, 0);


        }

        #amarel {
            background-color: yellow;
        }

        #verde {
            background-color: green;
        }
    </style>